.providerDetailContainer {
	width: 100%;
	background-color: #f3f3f3;
}

.providerTitle{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0;
}

.providerContent{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	background-color: #f3f3f3;
	margin-top: 50px;
	border-radius: 10px;
	padding: 50px;
	/*overflow-y: scroll;*/
}

.detailHeading {
	margin-top: 30px;
}

