.resultItemContainer {
	color: black;
	padding: 10px;
	display: block;
	border-bottom-style: solid;
	border-bottom-color: #cecece;
	border-bottom-width: 1px;
	background-color: white;
	padding: 25px;
	margin: 10px 0;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.18);
	-moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.18);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.18);

	cursor: pointer;


	.glyphicon {
		color: black;
	}
}

.resultItemContainer:hover {
	background-color: #e8e8e8;
}

.providerType {
	margin-top: 10px;
}

.providerType .label {
	margin-left: 3px;
	margin-right: 3px;
}

.resultItem-providerLogo img {
	max-width: 100%;
	max-height: 43px;
}

.resultItemTitle {
	width: 100%;
}