$searchFieldHeight: 60px;

.searchField {
    display: block;
    width: 100%;

    input {
        display: block;
        height: $searchFieldHeight;
        width: 100%;
        color: black;
        padding: 5px;
        font-size: 15px;
    }
}
