@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "normalize.css";
@import "./layout.scss";
@import "./map.scss";
@import "./searchfield.scss";

* {
    box-sizing: border-box;
}

.bigcommerceLogo {
	background-color: white;
	width: 100%;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.bigcommerceLogo img {
	width: 100%;
}
