@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "normalize.css";
@import "./layout.scss";
@import "./map.scss";
@import "./searchfield.scss";
@import "./resultlist.scss";
@import "./resultitem.scss";
@import "./providerdetail.scss";

* {
    box-sizing: border-box;
}

.bigcommerceLogoWrapper {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.bigcommerceLogo {
	background-color: white;
	width: 100%;
	padding: 10px;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.18);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.18);
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.18);
}

.bigcommerceLogo img {
	width: 100%;
}

.main {
  height: 100%;
  padding-top: 150px;
  text-align: center;
  background: #fff;
}

.mainResult {
  height: 100%;
  padding-top: 150px;
  background: #fff;
  text-align: left;
}
